.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-wrap: wrap;
}

.Game {
  background-color: #70757f;
  padding: 10px;
  width: 400px;
  height: 425px;
  margin: 5px;
}

.Game-board {
  width: 400px;
  height: 400px;
}

.Game-board-cell {
  background-color: #a7abb2;
}
